body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: 960px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100%;
  background-color: #ebebeb;
  height: 85px;
  text-align: center;
}

.head {
  padding: 30px;
}

.Nav {
  width: 100%;
  background-color: #ebebeb;
  height: 85px;
  text-align: center;
  
}

.navtext {
  padding: 30px;
}

.middle {
  width: 100%;
  margin-top: 20px;
  height: 275px;
}
.middle_left,.middle_right {
  float: left;
  background-color: #ebebeb;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.middle_left {
  width: 525px;
  margin-right: 25px;
}

.section {
  height: 40px;
  width: 525px;
  text-align: center;
  padding: 15px;
}
.middle_right {
  width: 410px;
}

.aside {
  padding: 5px;
}

.article {
  color: #ebebeb;
  background-color: #777;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  height: 175px;
}

.arttext {
  padding: 10px;
  padding-top:15px;
}

.art1 {
  margin-top: -10px;
  margin-bottom: -8px;
  width: 90%;
  color: rgb(105, 104, 104);
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ebebeb;
}

.bold {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.art2 {
  width: 90%;
  color: rgb(105, 104, 104);
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ebebeb;
}

.p {
  padding: 10px;
}

.footer {
  width: 100%;
  background-color: #ebebeb;
  height: 100px;
  text-align: center;
  font-size: 18px;
  
}

.foot {
  padding: 35px;
}
